<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Photobox!</title>

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="/js/vendors.js"></script>
  {{if .DevMode}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{end}}
</head>
<body>
  <header>
    <h1>Hello Photobox</h1>
  </header>

  <div id="app">
  </div>

  <script type="text/jsx" src="/js/application.js"></script>
</body>
</html>
